* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
button {
  cursor: pointer;
}
/******************************* HEADER *******************************/

header {
  max-width: 1512px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 11px 50px 0px 15px;
  column-gap: 40px;
}

.header-search {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 16px;
  gap: 0px;
  flex-grow: 1;
}
.header-search > input {
  border: 1px solid #d9d9d9;
  height: 42px;
  font-size: 16px;
}
.header-search > .search-input {
  background-image: url("./../assets/icons/search_grey.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  border-radius: 8px 0 0 8px;
  padding: 13px 24px 13px 37px;
  flex-basis: 300px;
}
.header-search > .city-input {
  padding: 13px 9px 13px 17px;
  border-left: none;
  border-right: none;
  flex-basis: 254px;
}
.header-search > .city-input::placeholder {
  color: black;
}
.header-search > button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  background-color: #f65858;
  border: none;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  width: 42px;
  height: 42px;
}
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.login-section > button {
  border: none;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
}
.language {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.logIn {
  background-color: white;
}
.singUp {
  color: white;
  background-color: #00798a;
  border-radius: 8px;
  padding: 8px 15px;
}
/******************************* MAIN *******************************/
main {
  max-width: 1196px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.thumbnail {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 46px;
  padding-top: 70px;
  padding-bottom: 35px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 580px;
}
.content > h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
}
.content > p {
  font-size: 16px;
  line-height: 24px;
}
.content > button {
  font-size: 16px;
  font-weight: 400;
  background-color: #00798a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  width: 125px;
  height: 40px;
}

/******************************* EVENTS *******************************/

.events {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.events__header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.events__header > h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}
.events__input {
  position: relative;
}
.events__search {
  padding: 12px 0 8px 12px;
  background-color: rgba(151, 202, 209, 0.12);
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  /* background-image: url("./../assets/icons/event/pen.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px; */
}
.events__input > img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.events__header > input::placeholder {
  color: #00798a;
}
.events__all-events-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: none;
  margin-left: auto;
  background-color: white;
  color: #00798a;
}
.events__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: (2, 1fr);
  gap: 36px;
}
.event {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 272px;
  height: 399px;
}
.event > img {
  width: 272px;
  height: 153px;
}
.event__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
}
.event__content .distance {
  color: #707070;
}
.event__content > div {
  display: flex;
  gap: 15px;
  font-size: 16px;
}
.date {
  display: flex;
  align-items: center;
  gap: 6px;
}
.going {
  display: flex;
  align-items: center;
  gap: 2px;
}
.cost {
  display: flex;
  align-items: center;
  gap: 2px;
}
.event__content > h3 {
  color: black;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

/******************************* JOIN BANNER *******************************/
.join-banner {
  display: flex;
  border-radius: 8px;
  gap: 74px;
  padding: 20px 56px;
  background-color: rgba(151, 202, 209, 0.08);
}
.join-banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.join-banner__content > h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}
.join-banner__content > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 664px;
}
.join-banner__content > button {
  width: 192px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #e32359;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.join-banner > img {
  width: 341px;
  height: 196px;
}

/******************************* CATEGORIES *******************************/
.categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}
.categories > h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}
.categories__list {
  display: flex;
  gap: 16px;
}
.category {
  width: 135px;
  height: 112px;
  padding: 16px 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: rgba(151, 202, 209, 0.08);
  border-radius: 8px;
}
.category > p {
  text-align: center;
}

/******************************* POPULAR CITIES *******************************/
